.navbar_header{
    display: flex;
    width: 100%;
    background-color: rgb(47, 255, 109);
    padding: 10px 0;
    justify-content: center;
    box-sizing: border-box;
}
.navbar_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.navbar_nav .link{
    padding: 8px 16px;
    border: solid 1px #000000;
    border-radius: 5px;
    background-color: #ffffff;
    color: #2f2f2f;
    font-weight: bold;
    text-decoration: none;
}
.navbar_nav .link:hover{
    background-color: rgb(130, 238, 233);
}
